= javascript_tag "$('.page_title').text('#{@randomizer.name}, by #{@randomizer.user.email}');"
= javascript_tag "var backgroundColor = false;"
= javascript_tag "backgroundColor = '#{@randomizer.background_color}';" if @randomizer.background_color.present?
= javascript_tag "var fontColor = false;"
= javascript_tag "fontColor = '#{@randomizer.font_color}';" if @randomizer.font_color.present?

%h2.output
  = @randomizer.randomize
.actions
  - if current_user
    = link_to "Edit", edit_randomizer_path(@randomizer)
    = link_to "Delete", randomizer_path(@randomizer), :method => "delete", :confirm => "Are you sure?"
  = link_to "Refresh", randomizer_path(@randomizer, :format => :json), :remote => "true", :class => "refresh"
  = check_box_tag "auto"
  Auto-refresh


