= javascript_tag "$('.page_title').text('#{@randomizer.name}, by #{@randomizer.user.email}');"
%h2.output
  = @randomizer.randomize
.actions
  - if current_user
    = link_to "Edit", edit_randomizer_path(@randomizer)
    = link_to "Delete", randomizer_path(@randomizer), :method => "delete", :confirm => "Are you sure?"
  = link_to "Refresh", randomizer_path(@randomizer, :format => :json), :remote => "true", :class => "refresh"


